* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
body {
  color: #fff;
  background-color: #0b192c;
}
input {
  border-radius: 5px;
  height: 20px;
  padding: 10px;
  font-size: medium;
}
select {
  font-size: 14px;
  border-radius: 5px;
  height: 30px;
}
button {
  margin: 5px;
  background-color: #0395f0;
  border-radius: 28px;
  border: 1px solid #0058fc;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 14px;
  padding: 12px 22px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;

  &:hover {
    background-color: #0b6fd4;
  }
  &:active {
    position: relative;
    top: 1px;
  }
}
#header {
  padding: 20px;
}

#header,
#potion-creator {
  display: flex;
  align-items: center;
  justify-content: center;
}

#form-container {
  max-width: 400px;
  min-width: 250px;
  width: 100%;
  border-radius: 5px;
  border: thick double #604652;
  padding: 20px;
}
#potions-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
#div-potion-preview,
#div-bottle-preview,
#div-potion-color {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
#bottle-preview {
  width: 50px;
  height: auto;
}
#potion-color-picker {
  width: 50px;
  height: 50px;
  padding: 0;
  border: none;
}
.div-input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding-top: 20px;
}
