* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
body {
  color: #fff;
  background-color: #0b192c;
}
input {
  border-radius: 5px;
  height: 20px;
  padding: 10px;
  font-size: medium;
}
select {
  font-size: 14px;
  border-radius: 5px;
  height: 30px;
}
button,
.edit-button,
.delete-button {
  margin: 5px;
  background-color: #0395f0;
  border-radius: 28px;
  border: 1px solid #0058fc;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 14px;
  padding: 12px 22px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;

  &:hover {
    background-color: #0b6fd4;
  }
  &:active {
    position: relative;
    top: 1px;
  }
}
.edit-button {
  width: 90px;
  background-color: #a86523;
  border-color: #a86523;

  &:hover {
    background-color: #8d541c;
  }
}
.delete-button {
  width: 90px;
  background-color: #a62c2c;
  border-color: #a62c2c;

  &:hover {
    background-color: #8e2626;
  }
}
.submit-button {
  background-color: green;
  border-color: green;

  &:hover {
    background-color: rgb(0, 108, 0);
  }
}
#header {
  padding: 20px 20px 0px 20px;
  flex-direction: column;
}
#header,
#potion-creator,
.action-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

/* Potion showcase: */
#potion-showcase {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 70vw;
  height: auto;
  padding: 20px;
}
.potion-card {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 280px;
  background-color: #163255;
  border-radius: 8px;
  min-width: 240px;
  padding: 20px;
}
.span-potion-ingredients,
.span-potion-effects {
  word-break: break-all;
  white-space-collapse: collapse;
  text-align: center;
}

.showcase-potion-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}
.showcase-potion-img {
  z-index: 1;
  width: 60px;
  height: auto;
  pointer-events: none;
}
/* Potion type: 0 */
.showcase-potion-color-0 {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 39px;
  height: 35px;
  bottom: 11px;
  position: absolute;
}
/* Potion type: 1 */
.showcase-potion-color-1 {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-left: 20px solid transparent;

  border-right: 20px solid transparent;
  border-bottom: 50px solid;
  width: 25px;
  bottom: 11px;
  position: absolute;
}
.showcase-potion-color-1-bottom {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  width: 19px;
  bottom: 11px;
  position: absolute;
}
/* Potion type: 2 */
.showcase-potion-color-2 {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 42px;
  height: 42px;
  bottom: 11px;
  margin-right: 2px;
  position: absolute;
}
/* Potion type: 3 */
.showcase-potion-color-3 {
  transform: rotate(180deg);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;

  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  width: 41px;
  top: 51px;
  position: absolute;
}
/* Potion type: 4 */
.showcase-potion-color-4 {
  border-radius: 50%;
  transform: translate(0.5%, 0%);
  width: 58px;
  height: 59px;
  bottom: 11px;
  position: absolute;
}

/* Potion form: */
#form-container {
  max-width: 400px;
  min-width: 250px;
  width: 100%;
  border-radius: 5px;
  border: thick double #604652;
  padding: 20px;
  margin: 20px;
}
#potions-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

#div-bottle-preview,
#div-potion-color,
#modal-div-potion-color {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 10px;
}
#bottle-preview-img,
#modal-bottle-preview-img {
  width: 50px;
  height: auto;
}
#potion-color-picker,
#modal-potion-color-picker {
  width: 50px;
  height: 50px;
  padding: 0;
  border: none;
}
.div-input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding-top: 20px;
}

#modal-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.3s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  min-width: 250px;
  max-width: 500px;
  width: 100%;
  min-height: 200px;
  max-height: 80vh;

  height: 100%;
  background-color: #102e50;
  border-radius: 10px;
}
#modal-update-potion-form,
#modal-delete-potion {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 100%;
  height: 100%;
}
.modal-div-input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding-top: 10px;
}

@media (max-height: 580px) {
  #modal-update-potion-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    place-items: center;
  }

  .modal-div-input {
    width: 90%;
  }
}
